<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Perne Muchilot, Muchilot Bhagavathi, Official Website of Shri Perne Muchilotu Bhagavathi Temple Kasaragod, Ganiga Samudaya Seva Sangha, Patali, Perne Kshetra, Perne Bhagavathi">
    <meta name="description" content="Official Website of Perne Muchilotu Bhagavathi Kshetra, Perne">
    <meta property="og:title" content="Perne Kshetra" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pernekshetra.com"/>
    <meta property="og:image" content="https://pernekshetra.com/kaliyata.png"/>

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <title>Perne Oushadhavana</title>

    <!-- ******************************** CSS ******************************** -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="../../css/pace-preloder.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- ******************************** Navigation ******************************** -->
    <nav class="navbar navbar-custom navbar-fixed-top navigation" id="nav" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" id="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">
          <div class="brand"><img class="brand_logo" alt="" src="../../Resource/Common/sitelogo.png"/>PERNE KSHETRA</div>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-center">
          <li class="active">
            <a href="../../about/festivals">About</a>
          </li>
          <li>
            <a href="../../history/incarnation">History</a>
          </li>
          <li>
            <a href="../../marriage">Marriage</a>
          </li>
          <li>
            <a href="../../donate">Donate</a>
          </li>
          <li>
            <a href="../../gallery">Gallery</a>
          </li>
          <li>
            <a href="../../nearby">Near By</a>
          </li>
          <li>
            <a href="../../contactus">Contact</a>
          </li>
          <li>
            <a href="../../kaliyata">Kaliyata</a>
          </li>
          <li>
            <a href="#">Oushadhavana</a>
          </li>
        </ul>
      </div>
      <!-- container- -->
    </nav>
    <!-- ******************************** Top Header ******************************** -->
    <header class="parallax oushadhavana"></header>
    <div class="container">
      <div class="row center">
        <div class="col-sm-12 col-lg-10 center marginT50">
          <img style="width: 100%; max-width: 400px; height: auto;" src="../../Resource/Oushadhavana/logo.jpg" alt="oushadahavana logo">
          <p>Nestled within the serene embrace of Perne Temple, surrounded by
            sacred flora, Oushadhavana emerges as a sanctuary where 112
            medicinal plants thrive. This garden serves as a bridge between
            ancient wisdom and contemporary times, offering solace for both mind
            and spirit. Each plant, carefully selected for its healing
            properties, carries a story steeped in tradition and natural
            therapy. The initiative to share these living treasures underscores
            their profound significance in traditional healing practices.</p>

          <p>At Oushadhavana, each plant is tenderly cared for by an adopter who
            assumes responsibility for its well-being. The central mission
            revolves around education, transforming the garden into a vibrant
            classroom where devotees can immerse themselves in the rich
            diversity of medicinal plants. Through interactive QR code-based
            learning experiences, visitors can identify, understand, and explore
            the therapeutic value of each species. This endeavor aims to
            preserve these plants and the ancestral knowledge they embody,
            ensuring that this wisdom continues to illuminate future
            generations.</p>

          <p>India, blessed with abundant biodiversity, boasts over 7,000 plant
            species utilized in traditional medicine, showcasing the nation's
            significant contribution to global biodiversity. However, the
            looming threat of climate change poses a grave risk to this
            diversity and the ecosystems that sustain it. Oushadhavana stands as
            a testament to our unwavering commitment to protect these plants
            through dedicated research and conservation efforts. In doing so, it
            honors the sanctity of Perne Kshetra, safeguarding these natural
            healers and the ancient wisdom they carry for the prosperity of
            future generations.</p>

          <img style="width: 100%; max-width: 800px; height: auto; border-bottom: 1px solid orange; border-right: 1px solid orange;" src="../../Resource/Oushadhavana/main_board.jpg" alt="oushadahavana main board">
        </div>
        <div class="col-sm-12 center">
          <p class="headingUnderLine text-left marginT50"> 
            <b>HERBS THAT HEAL</b>
          <p>
          <div id="list2" class="plants-list marginB30">
            <div v-cloak id="app">
              <ol v-for="(groupedPlants, key) in plants">
                <h4>Category: {{ key }}</h4>
                <p>
                  <span>Sanskrit name</span>
                  <span>Kannada name</span>
                  <span>Malayalam name</span>
                </p>
                <li v-for="plant in groupedPlants" class="horizontal-line">
                  <p>
                    <a :href="plant['Sanskrit Name'].toLowerCase().replace(/\s+/g, '_')" :title="plant['Sanskrit Name']">
                      {{ plant["Sanskrit Name"] }}
                    </a>
                    <a :href="plant['Sanskrit Name'].toLowerCase().replace(/\s+/g, '_')" :title="plant['Kannada Name']">
                      {{ plant["Kannada Name"] }}
                    </a>
                    <a :href="plant['Sanskrit Name'].toLowerCase().replace(/\s+/g, '_')" :title="plant['Malayalam Name']">
                      {{ plant["Malayalam Name"] }}
                    </a>
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footerData">
        <p>
          ©2024 Shree Perne Muchilot Bhagavathi Kshetra. 
          </br>All rights reserved.
        </p>
      </div>
    </footer>
    <!-- ******************************** Scripts /******************************** -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/pace.min.js"></script>
    <script type="module" src="scripts/listing.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70077839-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-70077839-1');
    </script>
  </body>
</html>
